body{font-family:Arial;margin:0;background:#eef2f7;}

header{
background:#1f2937;
color:white;
padding:10px;
display:flex;
justify-content:space-between;
}

.layout{display:flex;height:100vh;}

.menu{width:200px;background:#111;color:white;}
.menu li{padding:10px;cursor:pointer;}

main{flex:1;padding:20px;}

.card{
background:white;
padding:15px;
border-radius:8px;
margin:5px;
}

.cards{display:flex;}

table{
width:100%;
background:white;
margin-top:10px;
}

td,th{padding:10px;border-bottom:1px solid #eee;}

.hidden{display:none;}

input,select,button{
margin:5px;
padding:6px;
}
